header
{
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .Author
{
    font-weight: 700;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-style: italic;
    color: #FFF;
    letter-spacing: 0.1em;
}